body {
	background-color: #000;
}

h1,h2,h3,h4 {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

svg {
	pointer-events: none;
}

#container {
	width: 100%;
}

#main {
	width: 1250px;
	height: 252px;
	margin: 0 auto;
}

.drawings {
	position: relative;
	width: 100%;
	max-height: 600px;
}

.illustration {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}

#main figure {
	display: inline-block;
	max-width: 610px;
	min-width: 550px;
	width: 50%;
	margin: 5% auto;
}

.line-drawing,
.illustration {
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.line-drawing path {
	fill: none;
	stroke: white;
	stroke-width: 0.1;
}

path.line-round {
	stroke-linecap: round;
}

path.stroke-medium {
	stroke-width: 2;
}

path.stroke-thin {
	stroke-width: 1;
}

#logo_yanco, #logo_fusio {
	float: right;
	text-align: left;
}

#logo_fusio {
	margin-top: 50px;
}

#logo_yanco {
	margin-top: 15px;
}

#logo_yanco button, #logo_fusio button {
	border: 1px solid #fff;
  line-height: 1.8;
	color: #fff;
	background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;
	text-transform: capitalize;
	padding: 5px 10px;
	opacity: 0;
	-webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	        transform: translate(0,-50%);
	-webkit-animation-delay: 1.2s;
	        animation-delay: 1.2s;
}

#logo_yanco hr, #logo_fusio hr {
	height: 3px;
  width: 10px;
	float:left;
	opacity: 0;
  background-color: #fff;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

#logo_yanco p, #logo_yanco h3, #logo_fusio p, #logo_fusio h3 {
	color: #eee;
	opacity: 0;
	-webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
	        transform: translate(0,-50%);
}

#logo_yanco p, #logo_fusio p {
	max-width: 250px;
	-webkit-animation-delay: 0.8s;
	        animation-delay: 0.8s;
}

.appearTop {
	-webkit-animation: appearTop 1s forwards;
	        animation: appearTop 1s forwards;
}

@-webkit-keyframes appearTop {
	0% {
		-webkit-transform: translate(0,-50%);
		        transform: translate(0,-50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		        transform: translate(0,0);
		opacity: 1;
	}
}

@keyframes appearTop {
	0% {
		-webkit-transform: translate(0,-50%);
		        transform: translate(0,-50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		        transform: translate(0,0);
		opacity: 1;
	}
}

@media screen and (max-width: 1250px) {
	#main {
		width: 100%;
	}
	#main figure {
		display: block;
	}
}

@media screen and (max-width: 560px) {
	#main figure {
		display: block;
		max-width:none;
		min-width: 100%;
		width: 100%;
	}
	.illustration {
		position: absolute;
		top: 0;
		left: 50%;
		max-height: 100%;
		max-width: 100%;
		-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
	}
	svg {
		position:relative;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
	}
	#logo_yanco, #logo_fusio {
		float: none;
		text-align: center;
	}
	#logo_yanco hr, #logo_fusio hr {
		float: none;
	}
	#logo_yanco p, #logo_fusio p {
		max-width: 80%;
		margin: -10px auto 25px auto;
	}
}
